.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-bottom: 0;
}
.title {
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-family: 'RuntimeRegular';
}
@font-face {
    font-family: 'RuntimeRegular';
    src: url('/fonts/RuntimeRegular-m2Odx.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.leftbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 40px;
}
.rightbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 40px;
}

.hero {
  background-image: url('/images/gambat1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 20px;
  color: white;
  text-align: center;

  backdrop-filter: blur(5px);
}