
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    margin-bottom: 0;
}
.titlee {
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-family: 'Ananda';
}
@font-face {
    font-family: 'Ananda';
    src: url('/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.leftbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 40px;
}
.rightbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 40px;
}
.homebody {
    background: linear-gradient(135deg, #0081B3, #7ED957);
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 50px;
}
.beranda {
  background-image: url('/images/gambar1.jpeg');
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transparan {
  background: rgba(0, 0, 0, 0.329);
  color: white;
  text-align: center;
  backdrop-filter: blur(3px);
  padding-bottom: 20px;
}